{% extends 'allianceauth/base.html' %}
{% load i18n %}

{% block page_title %}{% translate "mailrelay" %}{% endblock %}

{% block content %}
    <div class="allianceauth-mailrelay-plugin">
        <h1 class="page-header text-center">{% translate "mailrelay" %}</h1>

        {% block details %}{% endblock %}
    </div>
{% endblock %}
