{% extends "admin/change_list.html" %}
{% load static %}
{% load i18n %}

{% block object-tools-items %}
{{ block.super }}
<li>
    <a href="{% url 'mailrelay:admin_update_discord_channels' %}" class="btn btn-high">
        {% translate "Update Discord channels" %}
    </a>
</li>
{% endblock %}
